rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global safety net
    match /{document=**} {
      allow read, write: if false;
    }

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      // Izinkan semua pengguna (termasuk tamu/tidak masuk) untuk membaca profil pengguna lain (untuk Leaderboard)
      allow read: if true;

      // Izinkan membuat, memperbarui, atau menghapus jika adalah pemilik profil tersebut
      allow create: if isOwner(userId) && request.resource.data.uid == userId;
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);
    }
  }
}
